<div class="cv-header">
  <div class="photo-info-container">
    <img class="cv-photo" [src]="header?.photoUrl" alt="Foto de perfil">
    <div class="cv-info">
      <h2>{{ header?.name }}</h2>
      <p class="cv-title">{{ header?.goalLife }}</p>
      <div class="cv-contact">
        <p><i class="fa fa-envelope"></i> {{ header?.email }}</p>
        <p><i class="fa fa-phone"></i> {{ header?.phoneNumber }}</p>
        <p><i class="fa fa-map-marker"></i> {{ header?.location }}</p>
        <p><i class="fa fa-at"></i> {{ header?.socialNetwork }}</p>
      </div>
    </div>
  </div>
</div>
