<div class="cv-container">
  <div class="cv-left">
    <app-header></app-header>
  </div>

  <div class="cv-right">
    <div class="cv-section"><app-interests></app-interests></div>
    <div class="cv-section"><app-skills></app-skills></div>
    <div class="cv-section"><app-work-experience></app-work-experience></div>
    <div class="cv-section"><app-education></app-education></div>
    <div class="cv-section"><app-certificates></app-certificates></div>
    <div class="cv-section"><app-languages></app-languages></div>
  </div>
</div>
